
body {
    background-color: #4D59BB;
}

.subtitulo{
    position: relative;
    top: 50px;
    left: 550px;
    right: 400px;
    color: white;
    font-size: 23px;
    font-weight: 700;


}
.Container1{
    position: absolute;
    height: 500px;
    width: 1200px;
    left: 50%;
    top: 60%;
    transform : translate(-50%,-50%);
    padding: 60px 60px 30px 60px;
    font-weight: 700;
    z-index: 1;

}
.cimg {
    position: absolute;
    top: 20px;
    left: 470px;
    right: 400px;
}
.heder{
    position: relative;
    top: 20px;
    left: 1150px;
    right: 900px;
    z-index: 2;
    color:white
}
.registrar{
    position:relative;
    left:160px;
}
.ant-form-item-required{
    color:white!important;
}
