@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .rounded-button {
        /* padding: .75rem 1.5rem; */
        height: fit-content;
        padding: .4rem .85rem;
        color: theme('colors.white');
        font-size: .95rem;
        font-weight: 600;
        border-radius: .75rem;
        box-shadow: 0 8px 0 rgba(0, 0, 0, 0.6);
        cursor: pointer;
        transition: background-color 200ms ease-in, transform 200ms ease-in;

        @apply lg:text-base lg:py-2 lg:px-4
    }

    .green-button {
        background-color: theme('colors.green');

    }

    .green-button:hover {
        background-color: #25944f;
    }

    .red-button {
        background-color: theme('colors.red-mid');
    }
    .red-button:hover {
        background-color:theme('colors.red-dark');
    }

    .purple-button {
        background-color: theme('colors.purple-mid');
    }
    .purple-button:hover {
        background-color: theme('colors.purple-dark');

    }

}