.button {
  padding: 15px 30px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #4dbb78;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.6);
}
