@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1.8rem;
    box-shadow: 0 15px 5px rgba(0, 0, 0, 0.5);
    background-color: theme('colors.black');
    position: relative;
    z-index: 500;

    @apply sm:py-6 sm:px-10 lg:px-14
  
  }

  .header nav a {
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;

    @apply sm:text-xl lg:text-2xl
     
  }

}

