@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .input-password {
        width: 15rem;
        padding: .20rem 1rem;
        display: flex;
        justify-content: space-between;
        background-color: white;
        align-items: center;
        gap: .5rem;
        border-radius: 20px;

        @apply sm:w-72 lg:w-80
    }

    .input-password input {
        padding: 0 !important;
        font-size: 1rem;
    }
    
    .input-password input:focus {
        outline: none;
    }

    .input-password input::placeholder {
        color: theme('colors.purple-dark');
        opacity: .5;
        font-weight: 500;
    }

    .input-password:focus-within {
        outline: 3px  solid theme('colors.purple-dark');
    }

    .input-password .gray {
        color: theme('colors.gray');
    }

    .input-password .black {
        color: theme('colors.black');
    }

    .input-password.w-full {
        width: 100%;
    }

}