@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .message {
        display: flex;
        padding: 1rem;
        background-color: theme('colors.black');
        border: 2px theme('colors.green') solid;
        position: fixed;
        justify-content: center;
        align-items: center;
        top: 3rem;
        z-index: 500000;

        @apply sm:top-12 sm:top-16 sm:left-60 md:left-17rem lg:left-26rem xl:left-40rem
    }

    .message__icon {
        color: theme('colors.green');
        margin-right: 1rem;
    }

    .message__text {
        color: theme('colors.white');
        font-size: 1rem;
        font-weight: 600;

        @apply md:text-lg
    }

    .error-message {
        width: fit-content;
        display: flex;
        background-color: theme('colors.red');
        color: theme('colors.white');
        font-weight: 600;
        align-items: center;
        justify-content: space-between;
        padding: .5rem .85rem;
        border-radius: 10px;
        position: fixed;
        top: 3rem;
        z-index: 500000;
        border: 2px solid theme('colors.black');
    }

    .error-message svg {
        margin-right: .5rem;
    }

    .animate__animated.animate__fadeInDown {
        --animate-duration: 700ms;
    }
}
