/* @import "~antd/lib/style/themes/default.less" */
/* @import "~antd/dist/antd.less"; */
/* @import 'registerTwo.less'; */

body {
  background-color: #4d59bb;
}
h1 {
  font-weight: 700;
  color: white;
  justify-content: center;
  align-items: center;
}
Form Item .item1 {
  color: white;
}
#buenas {
  font-size: 100px;
}

.cimg {
  margin-top: 80px;
  margin-left: 480px;
}

.Container1 {
  position: absolute;
  height: 500px;
  width: 1200px;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  padding: 60px 60px 30px 60px;
  font-weight: 700;
}
/*Image{
    background:url(../images/logo.png);
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.aceptar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: #4dbb78;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.6);
}
