@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {


    .search-bar {
            padding: .25rem .5rem;
        border-radius: 15px;
        background-color: white;
        display: flex;
    }
    
    .search-bar svg {
        width: 15px;
        margin-right: .5rem;
    }
    
    .search-bar input {
        width: 100%;
    }
    
    .search-bar input:focus {
        outline: none;
    }

    .search-bar:focus-within {
        outline: 4px solid theme('colors.purple-dark');
    }


}