@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .TurnsPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    @apply lg:h-screen
  }

  .turns__content {
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: theme('colors.purple-dark');

    @apply lg:flex-row lg:gap-x-16 lg:items-start xl:gap-x-28 lg:h-90% lg:pt-10 lg:pb-0
  }

  .turn__field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @apply lg:basis-3/6
  }

  .turn__field--instruction {
    margin-top: 1.5rem;
    padding: .75rem 1.5rem;
    display: flex;
    align-items: center;
    background-color: theme('colors.purple-mid');
    color: theme('colors.white');
    font-weight: 500;
    font-size: .9rem;
    border-radius: 20px;
    text-align: justify;
    column-gap: 1.2rem;

    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.6);

    @apply lg:text-base
  }

  .turn__field .turn__field--instruction {

    @apply sm:pt-4 sm:pb-4
  }

  .turn__field--instruction .number__circle {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 600;
    background-color:  theme('colors.purple-dark');
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;

  }

  .turn__field--instruction p {
    margin-left: 4rem;
  }

  .turn__date .turn__field--instruction {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .TurnsPage .menu-and-table {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .TurnsPage .menu {
    position: relative;
  }
  .TurnsPage .table {
    margin-top: 3rem;
  }

  .TurnsPage .menu,
  .TurnsPage .table {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .TurnsPage .menu-and-table .menu-container {
    position: absolute;
    top: 95px;
    z-index: 600;
  }
  
  .TurnsPage .field-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .TurnsPage .table__fields {
    margin-top: 3rem;
    padding: 1rem 1.5rem;
    width: 17rem;
    height: 11rem;
    border-radius: 40px;
    background-color: #4d59bb;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 500;
    display: block;

    @apply lg:w-80 lg:h-56
  }
  
  .TurnsPage .table__card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  /*
    MIDDLE FIELDS
  */
  .TurnsPage .table__middle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 15px;
  }
  
  .TurnsPage .table__middle .voleibol-1 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--purple);
  }
  
  .TurnsPage .table__middle .voleibol-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--purple);
  }
  
  .TurnsPage .table__middle .futbol-1 {
    grid-column: 3/5;
    grid-row: 1/3;
  }
  
  .TurnsPage .table__middle .tennis-1 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  
  .TurnsPage .table__middle .basquet-1 {
    grid-column: 2/3;
    grid-row: 3/5;
  }
  
  /**
    INFERIOR FIELDS
  */
  .TurnsPage .table__inferior {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 15px;
  }
  
  .TurnsPage .table__inferior .voleibol-3 {
    grid-column: 5/6;
    grid-row: 1/3;
  }
  
  .TurnsPage .table__inferior .voleibol-4 {
    grid-column: 6/7;
    grid-row: 1/3;
  }
  
  .TurnsPage .table__inferior .futbol-2 {
    grid-column: 1/3;
    grid-row: 1/5;
  }
  
  .TurnsPage .table__inferior .basquet-2 {
    grid-column: 3/5;
    grid-row: 1/3;
  }
  
  .TurnsPage .table__inferior .basquet-3 {
    grid-column: 5/7;
    grid-row: 3/6;
  }
  
  /*
    FIELD CARDS COLORS
  
  */
  
  .TurnsPage .futbol-1,
  .TurnsPage .futbol-2 {
    background-color: theme('colors.green');
  }
  
  .TurnsPage .menu-and-table .voleibol-1,
  .TurnsPage .menu-and-table .voleibol-2,
  .TurnsPage .menu-and-table .voleibol-3,
  .TurnsPage .menu-and-table .voleibol-4 {
    background-color: theme('colors.purple-gaudy');
  }
  
  .TurnsPage .basquet-1,
  .TurnsPage .basquet-2,
  .TurnsPage .basquet-3 {
    background-color: theme('colors.yellow');
  }
  
  .TurnsPage .tennis-1 {
    background-color: theme('colors.red');
  }
  
  /*
    FIELDS BAR
  */
  
   .TurnsPage .bar {
    width: 90%;
    padding: 8px 15px;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border-radius: 10px;
    background-color: theme('colors.black');

    @apply sm:w-auto sm:px-6
  }

  .TurnsPage  .bar .bar__row {
    /* background-color: yellow; */
    @apply sm:flex
  }
  
  .TurnsPage  .bar__circle {
    width: .75rem;
    height: .75rem;
    border-radius: 50%;

    
  }

  .TurnsPage .bar .bar__name {
    @apply sm:ml-4
  }

  .TurnsPage .bar .bar__row:nth-child(1) .bar__name:first-of-type {
    @apply sm:m-0
  }
  
  .TurnsPage .bar__name p {
    margin: 0;
    margin-left: 10px;
  }
  
  .TurnsPage .bar .bar__row .green {
    background-color: theme('colors.green');
  }
  
  .TurnsPage .bar .bar__row .yellow {
    background-color: theme('colors.yellow') ;
  }
  
  .TurnsPage .bar .bar__row .red {
    background-color: theme('colors.red');
  }
  
  .TurnsPage .bar .bar__row .purple {
    background-color: theme('colors.purple-gaudy');
  }
  
  .TurnsPage .bar__name {
    margin-left: .5rem;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  

  /*
    CALENDAR INFO
  */

  .TurnsPage .calendar-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: theme('colors.white');

    @apply sm:gap-x-2
  }

  .TurnsPage .calendar-bar__info {
    width: 14rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: .8rem;
    background-color: theme('colors.black');
    padding: .5rem;
    border-radius: 10px;

    @apply sm:w-fit sm:px-4 sm:text-sm lg:flex-nowrap
  }

  .TurnsPage .calendar-bar__info--row {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

    @apply sm:ml-6
  }

  .TurnsPage .calendar-bar__info--row:last-of-type {
    @apply lg:w-32
  }


  .TurnsPage .calendar-bar__info--row:first-of-type {
    @apply sm:m-0
  }

  .TurnsPage .calendar-bar__month-year {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: theme('colors.black');
    font-size: .75rem;
    padding: .5rem;
    border-radius: 10px;

    @apply sm:flex-row sm:text-sm sm:justify-between lg:flex-col  lg:items-center
  }

  .TurnsPage .calendar-bar__month-year p:last-of-type {

    @apply sm:ml-2
  }

  


  /*
    FINAL BUTTON
  */

  .TurnsPage .rounded-button {
    width: 17rem;
    margin-top: 1.5rem;
  }

  .TurnsPage .main-button {
    font-size: 1.15rem;
    width: 100%;
    max-width: 15rem;

    @apply sm:text-base  xl:text-lg
  }


  /*
    TURN DATE
  */

  .turn__date {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    @apply lg:basis-3/6
  }

  /*
    MODAL SAVE TURN
  */

  .TurnsPage .modal__content--title {
    @apply lg:text-2xl
    /* font-size: 1.5rem; */
  }
  
  .TurnsPage .modal-turn__content .modal-turn__data{
    margin-top: 1.5rem;
    @apply  sm:text-base lg:text-lg;
    /* margin-top: 1.25rem; */
    /* font-size: 1.15rem; */
  }

  .TurnsPage .modal__content .rounded-button{
    width: fit-content;
    padding: .5rem .85rem;

    @apply lg:px-5
  }
  
  .TurnsPage .turn__field__instruction,
  .TurnsPage .turn__field__fieldCards,
  .TurnsPage .turn__date__instruction,
  .TurnsPage .turn__date__calendar {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .TurnsPage .turn__field__fieldCards h2 {
    padding: 8px 30px;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    border-radius: 40px;
    background-color: theme('colors.black');
  }
  

  /*
  CALENDAR
  */
  
  .TurnsPage .calendar {
    width: 15rem;
    margin-top: 1.25rem;
    position: relative;
    left: 12px;
  
  }

  .TurnsPage .calendar .calendar__head {
    display: flex;
    justify-content: space-between;
  }
  
  .TurnsPage .calendar__head--item {
    background-color: theme('colors.black');
    width: 2.4rem;
    font-weight: 500;
    text-align: center;
    color: theme('colors.white');
  }
  

  .TurnsPage .calendar__head--item:first-of-type {
    border-top-left-radius: 10px;
  }
  
  .TurnsPage .calendar__head--item:last-of-type {
    border-top-right-radius: 10px;
  
  }

  .TurnsPage .calendar__body {
    display: flex;
    flex-direction: column;
  }

  .TurnsPage .calendar__body--row {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .TurnsPage .calendar__body--row div {
    width: 100%;
    text-align: center;
    border: 1px solid theme('colors.white');
    color: transparent;
    background-color: theme('colors.purple-mid');
  }
  
  
  .TurnsPage .purple-mid {
    background-color: theme('colors.purple-mid');
  }
  .TurnsPage .green {
    background-color: theme('colors.green') !important;
  }
  .TurnsPage .purple-light {
    background-color: theme('colors.purple-light') !important;
  }
  
  .TurnsPage .red {
    background-color: theme('colors.red') !important;
  }
  .TurnsPage .gray {
    background-color: theme('colors.gray') !important;
  }
  
  .TurnsPage .calendar__body--row::before,
  .TurnsPage .table__calendar tbody tr::after {
    font-weight: 500;
    font-size: .75rem;
    text-align: right;
    color: theme('colors.white');
    position: absolute;
    left: -40px;
    top: -7px;
  }
  
  .TurnsPage .calendar__body--row:nth-child(1)::before { content: "9AM"; }
  .TurnsPage .calendar__body--row:nth-child(2)::before { content: "10AM";}
  .TurnsPage .calendar__body--row:nth-child(3)::before { content: "11AM"; }
  .TurnsPage .calendar__body--row:nth-child(4)::before { content: "12PM"; }
  .TurnsPage .calendar__body--row:nth-child(5)::before { content: "13PM"; }
  .TurnsPage .calendar__body--row:nth-child(6)::before { content: "14PM"; }
  .TurnsPage .calendar__body--row:nth-child(7)::before { content: "15PM"; }
  .TurnsPage .calendar__body--row:nth-child(8)::before { content: "16PM"; }
  .TurnsPage .calendar__body--row:nth-child(9)::before { content: "17PM"; }
  .TurnsPage .table__calendar tbody tr:nth-of-type(9)::after { content: "18PM"; }
  
  .TurnsPage .info--row__square {
    width: .75rem;
    height: .75rem;
    margin-right: .4rem;
  }
  
  
  .TurnsPage .error__message {
    width: fit-content;
    background-color: theme('colors.red');
    color: theme('colors.white');
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .85rem;
    border-radius: 10px;
    position: fixed;
    top: 40px;
    left: 50%;
    right: -50%;
    transform: translate(-50%, -50%);
    z-index: 8000;
    border: 2px solid theme('colors.black');
  
  }
  
  .TurnsPage .error__message svg {
    margin-right: .5rem;
  }
  
  .TurnsPage .modal-turn__data {
    font-size: .85rem;
  }
  
  /*
    MODAL SAVE TURN
  */
  
  .TurnsPage .modal-turn__data--row {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .TurnsPage .modal-turn__data--row.date-row {
    margin-bottom: .5rem;
  
  }
  
  .TurnsPage .modal-turn__data--row p:first-of-type {
    font-weight: 600;
    margin-right: .5rem;
    flex-basis: 30%
  }
  
  .TurnsPage .modal-turn__data--row p:last-of-type {
    min-width: 10rem;
    background-color: theme('colors.purple-mid');
    padding: .2rem .4rem;
    border-radius: 10px;
    flex-basis: 70%
  }
  

}