@tailwind base;
@tailwind components;
@tailwind utilities;

/**
REGISTER PAGE
*/

@layer components {
  
  .LoginPage,
  .RegisterPage {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: theme('colors.purple-mid');
  }

  .LoginPage {
    height: 100vh;
  }

  .RegisterPage {
    height: 100%;
    padding: 4rem 1rem;
    @apply lg:h-screen
  }
  
  /**
    LOGIN PAGE
  */
  .login__content,
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form input {
    border: none;
    outline: none;
    border-radius: 20px;
    width: 100%;
    color: black;
  }

  .register__form {
    margin: 0;
    background-color: theme('colors.purple-dark');
    padding: 1rem 1.5rem;
    border-radius: .75rem;

    @apply sm:w-26rem
  }

  .register__form--row,
  .register__form--column {
    margin-bottom: .5rem;
    width: 100%;
  }

  

  .register__form input {
    font-size: .95rem;
    padding: .15rem .75rem;

    @apply lg:text-base;
  }

  .register__form label {
    font-size: .85rem;
    color: theme('colors.white');
    margin-bottom: .25rem;

    @apply sm:text-base;
  }

  .RegisterPage #title {
    margin: 1rem;

    /* @apply sm:my-5 */

  }

  #title {
    margin: 0;
    font-size: 1.2rem;
    color: theme('colors.white');
    font-weight: 500;


    @apply sm:text-xl lg:text-2xl;
  }

  .input::placeholder {
    color: theme('colors.purple-dark');
    opacity: .5;
    font-weight: 500;
  }

  .input:focus {
    outline: 3px theme('colors.purple-dark') solid;
  }
  
  .input__error,
  .login__form .input__error,
  .register__form .input__error {
    outline: 2px theme('colors.red') solid;
  }

  /*
    LOGIN PAGE
  **/

  .LoginPage #title {
    @apply sm:my-2
  }

  .login__form {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login__link {
    text-align: center;
    margin-top: 1rem;
    color: white;
    font-size: 1.125rem;

    @apply md:text-xl
  }

  .login__link a {
    font-weight: 500;

    @apply md:flex md:items-center md:gap-2
  }

  .login__link a p {
    position: relative;
    font-weight: 600;
    margin-top: .15rem;
    border-radius: 20px;
    letter-spacing: 1px;
    /* line-height: 5px; */

    @apply md:m-0
  }

  .login__link a p::after {
    content: '';
    position: absolute;
    left: 42px;
    bottom: -2px;
    width: 8rem;
    height: 2px;
    background-color: theme('colors.white');

    @apply md:h-3px md:-left-2
  }

  .login__link a:hover p:after {
    /* color: theme('colors.purple-gaudy'); */
    background-color: theme('colors.green');
  }

  .login__link a:hover p::after {
    /* background-color: theme('colors.purple-gaudy'); */
  }

  .login__link--register {
    position: relative;
    font-weight: 600;
  }

  .login__link--register::after {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 7rem;
    height: .1rem;
    background-color: theme('colors.white');
  }

  .login__form input {
    font-size: .95rem;
    padding: .25rem 1rem;
    margin-bottom: .1rem;

    @apply lg:text-base
  }
  .login__form .input__error--group,
  .register__form .input__error--group {
    margin-bottom: .5rem;
    width: 100%;

    /* @apply lg:w-80 */
  }

  .LoginPage .login__content .form__errors,
  .RegisterPage .content .form__errors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .2rem;
    
  }
  .form__errors .form__errors--icon {
    color: theme('colors.red');
    margin-right: .3rem;
  }
  .LoginPage .form__errors .form__errors--text,
  .RegisterPage .form__errors .form__errors--text {
    margin: 0;
    font-size: .8rem;
    font-weight: 500;
    text-align: center;
    color: theme('colors.red');

    @apply sm:text-sm lg:text-base;
  }

  .RegisterPage .content .green-button {
    margin-top: 1rem;

  }

}

.RegisterPage .content__form {
  display: flex;
  flex-direction: column;
  /* background-color: #3A438B; */
  /* padding: 25px 35px; */
  /* border-radius: 20px; */
}
