/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@layer components {

    .admin-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding-bottom: 2rem;

        @apply xl:h-screen
    }

    .admin-page__content {
        width: 100%;
        padding: 0 1.125rem;
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
        @apply sm:flex-row sm:px-8 sm:items-start sm:mt-12 sm:gap-x-6 lg:px-10 lg:w-11/12 lg:gap-12
    }
    /* .admin-page__content {
        width: 100%;
        padding: 0 1.125rem;
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
        
        @apply sm:grid sm:grid-cols-30-60

        @apply sm:flex-row sm:px-8 sm:items-start sm:mt-12 sm:gap-x-6 lg:px-10 lg:w-11/12 lg:gap-12
        
    } */

    .menu-admin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        @apply sm:basis-30% sm:gap-4 lg:gap-12
    }

    .menu-admin__data {
        width: 100%;
        padding: .5rem 1.125rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.125rem;
        background-color: theme('colors.purple-dark');
        outline: 1px solid theme('colors.black');
        border-radius: 15px;
        color: theme('colors.white');

        @apply sm:flex-col sm:text-center sm:gap-2 sm:py-4
    }

    .menu-admin__data .admin__data--info .admin{
        font-weight: 600;
        font-size: 1.125rem;
    }

    .menu-admin__data .admin__data--info .email {
        max-width: 14rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;


        /* @apply sm:text-xs  */
    }

    .menu__style span,
    .menu__style p {
        color: theme('colors.white');
    }

    .menu__style span {
        cursor: pointer;
    }

    .menu__icon {
        display: flex;
        width: fit-content;
        justify-content: space-between;
        position: relative;
        border-radius: 15px;
        margin-top: 1rem;

        @apply sm:hidden;
    }

    .menu__icon span {
        padding: .6rem .85rem;
    }
    
    .menu__icon span.bg-purple-dark:hover {
        background-color: theme('colors.black')
    }
    
    .menu__icon span:first-of-type {
        margin: 0;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    
    .menu__icon span:last-of-type {
        margin: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

 
    .menu__list {
        width: 100%;
        background-color: theme('colors.purple-dark');
        border-radius: 20px;
        
        @apply hidden sm:block;
    }

    .menu__list--item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 0;
        padding-left: 1.75rem;
        cursor: pointer;

        @apply lg:py-5
    }

    .menu__list--item:first-of-type {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .menu__list--item:last-of-type {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .menu__list--item:hover {
        background-color: theme('colors.black');
    }

    .menu__list--item span {
        min-width: 30px;
    }

    .menu__list--item p {
       margin: 0;
       margin-left: 1rem;
       font-size: 1rem;
       font-weight: 500;
       text-align: start;

       @apply lg:text-lg
    }

    /*
        GENERAL TABLE STYLES
    */

    .menu__table {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: .75rem;
        position: relative;

        @apply sm:grid sm:grid-cols-2 sm:basis-3/5 sm:gap-y-4 lg:basis-3/4 lg:justify-items-end lg:gap-6
    }

    .menu__table .table__title {
        margin-top: 1rem;
        padding: 0 1rem;
        color: white;
        text-align: center;
      
        @apply sm:mt-0 sm:col-start-1 sm:col-end-3 sm:row-start-1 sm:row-end-2 lg:col-start-1 lg:col-end-2 lg:text-2xl lg:text-left
    }

    .menu__table .table__title--title {
        font-weight: 600;
        font-size: 1.25rem;
    }

    .menu__table .table__title--desc {
        font-weight: 400;
        font-size: .85rem;

        @apply lg:text-1rem
    }

    .menu__table .table__buttons {
        right: 0;

        @apply sm:row-start-2 sm:row-end-3 sm:col-start-1 sm:col-end-3 lg:col-start-2 lg:col-end-3
    }

    .menu__table .table__buttons .black-button {
        font-size: .8rem;
        font-weight: 600;
        padding: 6px 10px;

    }

    .menu__table .table__buttons .black-button:first-of-type {
        margin-right: .5rem;
    }

    .menu__table .main-button {
        font-size: 1.15rem;
        width: 100%;
        max-width: 15rem;

        @apply sm:text-base sm:col-start-1 sm:col-end-3 sm:row-start-5 sm:row-end-6 lg:row-start-1 lg:row-end-2 lg:col-start-2 lg:col-end-3 xl:text-lg
    }
   
    .menu__table .modal .rounded-button {
        @apply sm:text-sm md:text-lg
    }

    .menu__table .pagination {

        @apply sm:col-start-1 sm:col-end-3 sm:row-start-4 sm:row-end-5 lg:col-start-1 lg:col-end-2 lg:row-start-2 lg:row-end-3 lg:justify-self-start

    }
    
    /*
        TABLES
    */

    .table__content {
        position: relative;
    }

    .table__content table {
        width: 100%;

        @apply md:border-collapse md:border-spacing-0
    }
    
    .table__content tbody tr {
        background-color: theme('colors.purple-mid');
        color: theme('colors.white');
        padding: .6rem 0;
        padding-left: 1rem;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }

    .table__content .pagination {
         position: absolute;
         bottom: 0;
    }

    .menu__table .table__content {
        width: 100%;
        background-color: theme('colors.purple-dark');
        border-radius: 20px;
        height: 24rem;
        display: flex;
        justify-content: center;
        /* margin-bottom: 1rem; */
        padding: .5rem .5rem;

        @apply sm:col-start-1 sm:col-end-3 sm:row-start-3 sm:row-end-4 sm:w-full sm:h-17rem lg:h-96 lg:px-4
    }

    /**
        Styles of the button in each row of the Users table
    */

    .Users .table-users__data {
        width: 100%;
        overflow-x: auto;

        @apply md:rounded-bl-20px md:rounded-tr-none lg:table-row lg:text-lg lg:rounded-tl-20px lg:rounded-bl-20px xl:text-xl 
    }


    .Users .table-users__data td:first-of-type {
        @apply lg:pl-2 lg:rounded-tl-20px lg:rounded-bl-20px;
    }

    .Users .table-users__buttons,
    .Courses .table-users__buttons 
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
        top: -13px;
        border-radius: 0 0 20px 20px;

        @apply md:flex-col md:top-0 md:rounded-bl-none md:rounded-tr-20px md:pr-5 lg:absolute lg:right-0 lg:w-20% lg:py-2 lg:top-5px
    }
    .Users .table-users__buttons {
        @apply lg:h-3.55
    }
    
    /*
        Styling specific details on Courses table
    */

    .Courses .courses-table__buttons {
        top: -16px;

        @apply md:top-0 md:inline-block md:h-full lg:h-fit lg:relative;
    }


    .Courses tbody {
        display: flex;
        flex-direction: column;

        @apply md:flex-row
    }

    .Users .table-users__buttons .rounded-button,
    .Courses .table-users__buttons .rounded-button {
        padding: .4rem .8rem;
        font-size: .8rem;
        border-radius: .6rem;
        box-shadow: 0 4px 0 rgba(0, 0, 0, 0.6);

        @apply md:w-full lg:text-sm
    }
    .Courses .table-users__buttons .rounded-button {
        @apply md:py-1
    }

    .Courses .table-courses__data {
        @apply md:py-3 lg:w-full lg:min-h-5rem;
    }

    .Courses tbody {
        @apply lg:justify-between lg:items-start
    }
    

    .Courses .table-users__buttons .rounded-button:last-of-type {
        margin-left: 1rem;

        @apply md:m-0 md:mt-2
    }

    .Courses .td__title {
        font-weight: 600;
        font-size: 1.1rem;
    }


    /*
        MODAL STYLES
    */

    .modal {
        display: hidden;
        position: fixed;
        background-color: rgba(0, 0, 0, .7);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
    
    .modal__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: theme('colors.purple-dark');
        color: theme('colors.white');
        border-radius: 20px;
        width: 90%;
        max-width: 30rem;
    }

    .modal__content input {
        background-color: theme('colors.white');
        color: theme('colors.black');
        width: 100%;
        font-family: 'Montserrat';
    }

    .modal__content--title {
        color: theme('colors.white');
        margin-top: 1.5rem;
        font-size: 1.25rem;
        font-weight: 600;
    }
    
    .modal__content .modal__buttons {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 1rem;
    }

    .modal__content .modal__buttons .rounded-button:last-of-type {
        margin-left: 1rem;
    }

    .modal__content .form__errors {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: .5rem;
      }
    .modal__content .form__errors--text {
        color: theme('colors.red');
        font-size: .85rem;


    }

    /*
        MODAL USER TABLE
    */

    .modal__deleteUser--userData {
        display: flex;
        flex-direction: column;
        color: theme('colors.white');
        background-color: theme('colors.purple-mid');
        padding: .8rem 1rem;
        border-radius: 20px;
        font-weight: 400;

        @apply sm:min-w-20rem
    }

    .modal__deleteUser--userData .userData--row {
        display: flex;
    }

    .modal__deleteUser--userData .userData__title {
        font-weight: 600;
        margin-right: .2rem;
    }

    .modal__deleteUser--text {
        text-align: center;
        font-weight: 500;
        margin: 1rem 0;

    }

    .modal__notification {
        display: flex;
    }

    /*
        MODAL COURSE TABLE
    */

    .modal .modal__addCourse label {
        font-size: 1rem;
    }

    .modal .modal__addCourse input,
    .modal .modal__addCourse textarea {
        font-size: .9rem;
    }

    .text-area {
        width: 100%;
        color: black;
        border-radius: 10px;
        height: 10rem;
        resize: none;
        padding: .5rem .8rem;
    }

    /*
        MODAL TURNS TABLE
    */

    .modal .modal__add-turn .purple-light {
        background-color: theme('colors.purple-light');
    }

    .modal .modal__add-turn thead {
        display: none;
    }

    .modal .modal__add-turn tbody {
        display: flex;
        flex-direction: column;
    }

    .modal .modal__add-turn .modal__add-turn--body {
        margin-bottom: 1rem;
    }

    .modal .modal__add-turn--body tr td:nth-child(1)::before { content: "Morador: "; font-weight: 600;}
    .modal .modal__add-turn--body tr td:nth-child(2)::before { content: "Lote: "; font-weight: 600;}

    .modal .modal__add-turn--body tr td:first-of-type {
        display: flex;
    }

    .modal .modal__add-turn--body tr td:first-of-type p:first-of-type {
        margin-left: .3rem;
        margin-right: .3rem;
    }

    .modal__add-turn .modal__buttons {
        margin-top: 1rem;
    }

    /*
        MODAL NOTIFICATION
    */

    .modal__notification .modal__content--title{
        font-size: 1.15rem;

        @apply md:text-xl
    }

    .modal .modal__notification form {
        display: flex;
        flex-direction: column;
    }

    .modal .modal__notification input {
        margin-bottom: .5rem;        
    }
    
    .modal .modal__notification textarea {
        margin-top: .5rem;

        @apply md:h-48
    }

    .modal .modal__notification input,
    .modal .modal__notification textarea {
        min-width: 15rem;
        font-size: .9rem;

        @apply sm:min-w-20rem md:w-96 md:text-base
    }


    .modal .modal__notification .form__errors {
        margin: 0;
    }

    /*
        TURNS TABLE
    */
     
    .Turns .table-turns__buttons {
        padding: 0 0 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .modal__content.modal-delete-turn {
        padding: 0 .75rem;
    }

    .modal__content.modal-delete-turn .userData--row p:first-of-type {
        flex-basis: 32%;
    }

    .modal__content.modal-delete-turn .userData--row p:last-of-type {
        flex-basis: 65%;
    }


    /*
        USERS TABLE
    */

    .Users,
    .Turns,
    .Courses,
    .Notifications,
    .Comments {
        width: 100%;
        overflow-y: auto;
        border-radius: 15px;
    }

    .Users .table-users__head,
    .Turns .table-turns__head {
        display: none;
        color: theme('colors.white');
        font-size: 1.15rem;
        font-weight: 600;

        @apply lg:flex lg:mb-2 xl:text-xl
    }

    .Users .table-users__head {
        padding-left: .5rem;
        grid-template-columns: 3fr 1fr 3fr 2fr 2fr;
        column-gap: 2rem;
        position: sticky;
        top: 0;
        background-color: theme('colors.purple-dark');

        @apply lg:grid
    }

    .Users .table-users__head p:nth-child(5){
        text-align: center;
    }

    .Users .table-users__body,
    .Turns .table-turns__body,
    .Courses .table-courses__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Users .table-users__body--row, 
    .Turns .table-turns__body--row,
    .Courses .table-courses__body--row,
    .Comments .table-comments__row,
    .Notifications .table-notifications__row {
        width: 100%;
        padding: .5rem .75rem;
        margin-bottom: .75rem;
        background-color: theme('colors.purple-mid');
        border-radius: 20px;

        @apply md:flex md:justify-between md:gap-x-4
    }

    .Users .body-row__data, 
    .Turns .body-row__data,
    .Courses .body-row__data,
    .Comments .table-comments__row,
    .Notifications .table-notifications__row {
        width: 100%;
        color: theme('colors.white');
        overflow: auto;

        @apply sm:text-sm lg:text-lg
    }

    .Users .body-row__data {
        grid-template-columns: 3fr 1fr 3fr 2fr;
        column-gap: 1rem;
        align-content: center;
        @apply lg:grid;
    }

    /*
        Prevent text overflow
    */
    
    .Users .body-row__data p {
        word-break: break-all;
    }

    .Users .body-row__data p:nth-child(1)::before { content: 'Morador: '; font-weight: 600; @apply lg:content-none}
    .Users .body-row__data p:nth-child(2)::before { content: 'Lote: '; font-weight: 600; @apply lg:content-none}
    .Users .body-row__data p:nth-child(3)::before { content: 'Email: '; font-weight: 600; @apply lg:content-none}
    .Users .body-row__data p:nth-child(4)::before { content: 'Celular: '; font-weight: 600; @apply lg:content-none}

    .Users .body-row__buttons,
    .Turns .body-row__buttons,
    .Courses .body-row__buttons{
        display: flex;
        justify-content: center;
        margin: .5rem 0;

        @apply md:items-center
    }


    /*
        TURNS TABLE
    */

    .Turns {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .Turns .table-turns__head {
        position: sticky;
        top: 56px;
        z-index: 1;
        padding: .25rem 0 0 .75rem;
        background-color: theme('colors.purple-dark');

        @apply lg:grid
        
    }

    .Turns .table-turns__head.columns-5 {
        grid-template-columns: repeat(5, 1fr);
        column-gap: .5rem;
    }

    .Turns .table-turns__head.columns-6 {
        grid-template-columns: repeat(6, 1fr);
        column-gap: 2rem;
    }


    .Turns .table-turns__head p:nth-child(1) {grid-column-start: 1; grid-column-end: 2;}
    .Turns .table-turns__head p:nth-child(2) {grid-column-start: 2; grid-column-end: 3;}
    .Turns .table-turns__head p:nth-child(3) {grid-column-start: 3; grid-column-end: 4;}
    .Turns .table-turns__head p:nth-child(4) {grid-column-start: 4; grid-column-end: 5;}
    .Turns .table-turns__head p:nth-child(5) {grid-column-start: 5; grid-column-end: 6;}
    .Turns .table-turns__head p:nth-child(6) {grid-column-start: 6; grid-column-end: 7; position: relative; left: 18px; width: fit-content;}
    /*
        SPORT BUTTONS - TURNS TABLE
    */

    .Turns .table-turns__body--sports {
        width: 100%;
        height: fit-content;
        margin-bottom: .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: theme('colors.black');
        /* border-radius: 15px; */
        position: sticky;
        top: 0;
        z-index: 1;

    }

    .Turns .table-turns__body--sports::after {
        content: '';
        width: 100%;
        height: 1.5rem;
        background-color: theme('colors.purple-dark');
        position: absolute;
        bottom: -8px;
        z-index: -1;
    }

    .Turns .table-turns__body--sports span {
        padding: .5rem 0;
        cursor: pointer;
        width: 100%;
        text-align: center;

        @apply lg:flex lg:items-center lg:pl-4
    }

    .Turns .table-turns__body--sports h2 {

        font-size: 1.25rem;
        font-weight: 600;
        color: theme('colors.white');
        padding: .5rem 1rem;
        background-color: theme('colors.black');
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: 1px solid theme('colors.white');
        border-right: none;
        

        @apply lg:block
    }

    .Turns .table-turns__body--sports p {

        color: theme('colors.white');
        margin-left: 1rem;


        @apply lg:block lg:text-lg lg:font-medium
    }

    .Turns .table-turns__body--sports .bg-black:hover {
        background-color: theme('colors.gray');
    }

    .Turns .table-turns__body--sports span:first-of-type {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        /* @apply lg:rounded-none */
    }
    .Turns .table-turns__body--sports span:last-of-type {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    .Turns .table-turns__body--sports svg {
        color: theme('colors.white');
    }

    .Turns .green-dark {
        background-color: theme('colors.green-dark');
    }

    .Turns .yellow {
        background-color: theme('colors.yellow');
    }

    .Turns .red {
        background-color: theme('colors.red');
    }
     .Turns .purple-light {
        background-color: theme('colors.purple-light');
     }

    /*
        TURNS DATA
    */

     .Turns .body-row__data {

        @apply lg:text-base lg:grid lg:grid-cols-5
     }


    .Turns .body-row__data .body-row__data-name::before { content: 'Morador: '; font-weight: 600; @apply lg:content-none}
    
    .Turns .body-row__data--date-list .date-list::before,
    .Turns .body-row__data .date-list::before { content: 'Fecha: '; font-weight: 600; @apply lg:content-none}
    .Turns .body-row__data--date-list .date-list1::before { content: 'Fecha 1: '; font-weight: 600; @apply lg:content-none}
    .Turns .body-row__data--date-list .date-list2::before { content: 'Fecha 2: '; font-weight: 600; @apply lg:content-none}
    .Turns .body-row__data--date-list p:nth-child(even)::before { content: 'Hora: '; font-weight: 600; @apply lg:content-none}
    
    .Turns .body-row__data--date-row p::before { content: 'Fecha: '; font-weight: 600; @apply lg:content-none}
    .Turns .body-row__data--hour-row p:nth-child(1)::before { content: 'Hora 1: '; font-weight: 600; @apply lg:content-none}
    .Turns .body-row__data--hour-row p:nth-child(2)::before { content: 'Hora 2: '; font-weight: 600; @apply lg:content-none}
    
    .Turns .body-row__data .body-row__data-field--row::before { content: 'Cancha: '; font-weight: 600; @apply lg:content-none}
    .Turns .body-row__data .body-row__data-saved::before { content: 'Agendado: '; font-weight: 600; @apply lg:content-none}


    .Turns .body-row__data--date-list {

        @apply lg:hidden
    }

    .Turns .body-row__data .body-row__data-field--row {
        
        @apply lg:hidden
    }

    .Turns .body-row__data-field--col {

        @apply lg:flex lg:flex-col lg:text-left
    }
    
    .Turns .body-row__data-field--col p:first-of-type {

        @apply lg:relative lg:left-12
    }

    .Turns .body-row__data--date-row {

        @apply lg:flex lg:flex-col
    }
    .Turns .body-row__data--hour-row {

        @apply lg:flex lg:flex-col lg:justify-around lg:h-full
    }

    .Turns .body-row__data--date-row p:first-of-type {
        
        @apply lg:mb-4
    }
    .Turns .body-row__data--hour-row  p:first-of-type {
        
        @apply lg:mb-4
    }

    /*
        COURSE TABLE
    */

    .Courses {

        @apply lg:mt-2
    }

    .Courses .table-courses__body--row {
        padding: 0;

        @apply md:flex-col
    }

    .Courses .body-row__data-buttons {
        
        @apply lg:flex
    }

    .Courses .body-row__data {
        padding: .5rem .75rem;

        @apply lg:flex-col lg:items-start lg:pl-4 xl:text-lg
    }

    .Courses .body-row__buttons {

        @apply lg:flex-col lg:items-stretch lg:pr-4 lg:mt-4
    }

    .Courses .body-row__buttons .rounded-buttons {
        
        @apply lg:w-full
    }

    .Courses .body-row__data--title {
        font-weight: 600;
    }

    .Courses .body-row__buttons .rounded-button:last-of-type {
        margin-left: 1rem;

        @apply lg:ml-0 lg:mt-4
    }

    .Courses .body-row__registered {
        margin-top: 1rem;
        
    }

    .Courses .body-row__registered--head {
        width: 100%;
        padding: .5rem .75rem;
        display: flex;
        justify-content: space-between;
        color: theme('colors.white');
        font-weight: 600;
        background-color: theme('colors.purple-mid');
        border-top: 4px solid theme('colors.purple-dark');
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        cursor: pointer;
    }

    .Courses .body-row__registered--head.bg-black {
        background-color: theme('colors.black');
    }

    .Courses .body-row__registered--head:hover {
        background-color: theme('colors.black');
    }

    .Courses .registered-head__usersNumber {
        display: flex;
        align-items: center;

        @apply lg:text-xl
    }

    .Courses .registered-head__usersNumber svg {
        margin-left: .5rem;
    }

    .Courses .body-row__registered--body {
        padding: .5rem;
        flex-direction: column;
        background-color: theme('colors.black');
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .Courses .registered-body__user {
        display: flex;
        align-items: center;
        font-size: .95rem;
        /* flex-direction: column; */
        color: theme('colors.white');
        border-bottom: 1.5px solid theme('colors.white');
        margin-bottom: .4rem;
    }

    .Courses .registered-body__user svg {
        margin-right: .75rem;
    }

    .Courses .registered-body__user:last-of-type {
        border: none;
    }

    .Courses .body-user__data {

        @apply lg:w-full lg:grid lg:grid-cols-3 lg:gap-x-4
    }

    .Courses .body-user__data--name {
        @apply lg:col-start-1 lg:col-end-2
    }

    .Courses .body-user__data--email {
        @apply lg:col-start-2 lg:col-end-3
    }

    .Courses .body-user__data--phone {
        @apply lg:col-start-3 lg:col-end-4
    }

    .Courses .radius-none {
        border-radius: 0px;
        border-bottom: 1.5px solid theme('colors.white');
    }


    /*
        COMMENTS TABLE
    */

    .Comments .table-comments__row,
    .Notifications .table-notifications__row {
        
        @apply lg:flex-col lg:items-start
    }

    .Comments .row__user,
    .Notifications .row__title {
        font-weight: 600;
    }
    .Comments .row__title {
        font-style: italic;
    }

    .Comments .row__date,
    .Notifications .row__date
     {
        font-size: .75rem;
        @apply lg:text-sm
    }

    .Comments .row__user-and-date,
    .Notifications .row__title-and-date
     {
        width: 100%;
        @apply md:flex md:justify-between md:items-center
    }

    .Comments .row__user,
    .Comments .row__title,
    .Comments .row__desc,
    .Notifications .row__title,
    .Notifications .row__desc {
        @apply lg:text-base
    }


      /*
        NOTIFICATION TABLE
    */


    .Notifications .table__notifications-title {
        font-weight: 600;
    }

    .modal__notification input,
    .modal__notification textarea {
        margin-bottom: 1rem;
    }

    /*
        NOTIFICATIONS && COMMENTS
    */

    .Comments .title-date__date,
    .Notifications .title-date__date {
        font-size: .75rem;
        @apply lg:text-sm

    }

    /*
        ANIMATION
        set the animation duration
    */

    .animate__animated.animate__fadeOut,
    .animate__animated.animate__fadeIn{
        --animate-duration: 500ms;
    }
    
    /*
        LOADING STYLES
            styles of the 'loading' animation
    */
    .loading-info {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        margin-top: 1.5rem;
    }

    .loading-info p {
        margin-left: .5rem;
    }

}

