@tailwind base;
@tailwind components;
@tailwind utilities;

.message {
    position: fixed;
    /* top: 10px; */
    left: 250px;
    background-color: cornflowerblue;
    color: white;
    padding: 1rem;
    border-radius: 10px;
}

.btn {
    padding: .5rem 1rem;
    border-radius: 15px;
    margin-top: 1rem;
    color: white;
    background-color: theme('colors.purple-mid');
    border: 3px solid theme('colors.purple-dark');
}